.static_child {
    border: 2px solid green;
    margin: 10px;
    border-radius: 4px;
}

.static_child_title h2 {
    margin: 0;

}

.static_child_title h2 span {
    color: red;
    margin: 0;

}

.static_child_title h1 {
    color: red;
    text-align: center;
    margin: 0;

}

.static_child_title {
    display: flex;
    /* height: 150px; */

}

.static_child_title h2 {
    margin-left: 20px;
}

.client_count {
    color: red !important;
    margin-left: 20px;

}

.client_wrap {
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    justify-content: space-around;
}

@media screen and (max-width:500px) {
    .static_child_title {
        display: flex;
        flex-direction: column;
    }

    .client_wrap {
        flex-direction: column;
    }
}