form.client_form {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

form.client_form input {
    width: 90%;
    height: 30px;
    font-size: 20px;
}

.client>h1 {
    text-align: center;
}

.client>h1 span {
    color: red;
    font-size: 30px;
}


form.client_form button {
    width: 200px;
    margin-top: 10px;
    font-size: 20px;
}

.client_watch {
    display: flex;
    align-items: center;
    border: 2px solid green;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 4px;
}

.client_watch input {
    border: none;
    font-size: 14px;
    text-indent: 10px;

}

.client_watch input::placeholder {
    font-size: 14px;
}

.client_watch input:focus {
    outline: none;
}