.userlist {
    /* border: 2px solid pink; */
    height: 500px;
}

.userlist h1 {
    text-align: center;
    /* border: 2px solid red; */

}


.userlist_fullname {
    display: flex;
}

.user_list_item {
    border: 2px solid var(--primary);
    border-radius: 4px;
    display: flex;
    height: 40px;
    align-items: center;
    font-size: 14px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    margin-bottom: 5px;

}

.userlist_name,
.userlist_lastname {
    /* border: 2px solid red; */
    min-width: 120px;
    margin: 0;
}

.userlist_weekday,
.userlist_time,
.userlist_coin {
    /* border: 2px solid red; */
    width: 100px;
    margin: 0;

}

.userlist_number {
    /* border: 2px solid red; */
    width: 150px;
    margin: 0;

}

.user_list_link {
    background: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 2px 5px;
    border-radius: 4px;
    font-family: "Poppins";
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;

}


.userlist_subject {
    margin: 0;
    text-align: center;
    font-size: 14px;
    margin-left: 20px;

}

.userlist_addcoin {
    margin-right: 20px;
}

.userlist_addcoin input {
    width: 120px;
    text-indent: 5px;
    height: 100%;
    border-color: var(--primary);
    border-radius: 4px;
    margin-right: 10px;
}

.userlist_addcoin button {
    border: 2px solid var(--primary);
    padding: 5px 10px;
    border-radius: 4px;
    color: var(--primary);

}

@media screen and (max-width:500px) {

    .user_list_item {
        flex-direction: column;
        min-height: 220px;
        align-items: flex-start;
        padding: 20px;
        width: 80%;
        margin: auto;
        margin-bottom: 5px;

    }

    .userlist_subject {
        margin: 0;
        text-align: center;
        font-size: 14px;
        margin-top: 5px;

    }

    .userlist_name,
    .userlist_lastname {
        min-width: 100px;
        margin: 0;
        margin-top: 2px;

    }

    .userlist_weekday,
    .userlist_time,
    .userlist_coin {
        width: 100px;
        margin: 0;
        margin-top: 2px;


    }

    .userlist_number {
        width: 150px;
        margin: 0;
        margin-top: 2px;
    }

    .userlist_addcoin {
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .userlist_addcoin input {
        width: 120px;
        text-indent: 5px;
        height: 100%;
        border-color: var(--primary);
        border-radius: 4px;
        margin-right: 10px;
    }

}