.teacher_wrap {
    width: 90%;
    margin: auto;
    height: 65vh;
    overflow-y: auto;
}

.teacher_wrap li {
    width: 80%;
    height: 50px;
    border: 2px solid var(--primary);
    display: flex;
    align-items: center;
    /* padding: 0 10px; */
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
}

.teacher_wrap li a {
    margin: 0;
}

.teacher_username {
    width: 200px;
    display: inline-flex;
    font-size: 18px;
    font-weight: 600;
    color: red;
    margin-left: 20px;
    /* border: 2px solid var( --primary); */
    /* margin-bottom: 5px; */
}

.teacher_role {
    /* border: 2px solid var( --primary); */
    margin-left: 20px;
    margin-right: 20px;
}

.teacher_role span {
    margin-left: 10px;
    color: blue;

}


.teacher_delete_btn {
    font-size: 16px;
    padding: 4px 10px;
    margin-left: 10px;
    border: 2px solid red;
    border-radius: 4px;
    color: red;
    cursor: pointer;

}

.teacher_subject {
    /* border: 2px solid var( --primary); */
    margin-left: 20px;
    margin-right: 20px;
    width: 150px;
}

.teacher_subject span {
    margin-left: 10px;
    color: blue;

}

.teacher_edit {
    margin-left: 20px;
    display: inline-flex;
    text-decoration: none;
    border: 2px solid var(--primary);
    padding: 5px 10px;
    border-radius: 4px;

}


@media screen and (max-width:500px) {

    .teacher_wrap {
        height: 60vh;
        overflow-y: auto;
    }

    .teacher_wrap li {
        width: 80%;
        height: auto;
        border: 2px solid var(--primary);
        display: flex;
        align-items: start;
        flex-direction: column;
        padding: 0;
        padding-left: 10px;
        margin: auto;
        margin-top: 2px;
        margin-bottom: 0;
        border-radius: 4px;
    }

    .teacher_role {
        display: inline-flex;
        margin-left: 0;
    }

    .teacher_role span {
        margin-left: 10px;
        color: blue;

    }

    .teacher_wrap li a {
        margin: 0;
    }
}